$defaultFonts: Helvetica, Arial, meiryo, hiragino kaku gothic pro, sans-serif;
$bodyFontFamily: HelveticaNeueW01-65Medi, HelveticaNeueW02-65Medi, HelveticaNeueW10-65Medi, $defaultFonts;
$linkColor: #3899ec;
$linkHoverColor: #4eb7f5;
$linkActiveColor: #fff;
$navFontSize: 18px;
$barColorRed: #C70039;
$barColorBlue: #4eb7f5;
$barColorOrange: #ffd24e;
$white: #fff;
$ltGrey: #efefef;
$mdGrey: #d5d5d5;
$dkGrey: #ddd;
$secondary:#2875C7;
