@import "../../styles/variables";


.nav {
  text-align: left;
  display: flex;
  justify-content: center;
  font-size: $navFontSize;
  margin: 0 20px;

  ul {
    display: block;
    margin: 0;
    padding: 0;
  }

  svg {
    position: relative;
    top: 5px;
    left: -2px;
  }

  li {
    display: inline-block;
    margin-right: 20px;
  }

  a {
    text-decoration: none;
    color: #fff;
    background: $linkColor;
    padding: 8px 20px;
    border-radius: 20px;

    &:hover {
      background: $linkHoverColor;
    }

    &.active {
      background: $linkActiveColor;
      color: $linkColor;
      border: 1px solid $linkColor;
    }
  }
}
